---
- name: "switch login shell to {{ shell }} for root"
  become: true
  ansible.builtin.user:
    name: "root"
    shell: "{{ shell_path }}"

- name: "configure {{ shell }} dotfiles for root: clone repo"
  become: true
  ansible.builtin.git:
    repo: "{{ shell_dot_repo }}"
    dest: "/root/.config/{{ shell }}/"
    recursive: true
    update: true

- name: "configure {{ shell }} dotfiles for root: create softlink"
  become: true
  ansible.builtin.file:
    src: "/root/.config/{{ shell }}/{{ shell_config_filename }}"
    dest: "/root/.{{ shell_config_filename }}"
    owner: "root"
    group: "root"
    state: link
