- name: "create user {{ main_network_user }}"
  become: yes
  ansible.builtin.user:
    name: "{{ main_network_user }}"
    uid: "{{ main_network_user_userid }}"
    home:  "/home/{{ main_network_user }}"
    create_home: true
    shell: "{{ shell_path }}"
  register: user_generated

- name: "Enable passwordless sudo for user {{ main_network_user }}"
  become: true
  community.general.sudoers:
    name: "{{ main_network_user }}-noPW"
    user: "{{ main_network_user }}"
    commands: ALL
    nopassword: true

- name: "configure {{ shell }} dotfiles for user {{ main_network_user }}: clone repo"
  become: true
  ansible.builtin.git:
    repo: "{{ shell_dot_repo }}"
    dest: "/home/{{ main_network_user }}/.config/{{ shell }}/"
    recursive: true
    update: true
  when: user_generated.changed

- name: "configure {{ shell }} dotfiles for user {{ main_network_user }}: create softlink"
  become: true
  ansible.builtin.file:
    src: "/home/{{ main_network_user }}/.config/{{ shell }}/{{ shell_config_filename }}"
    dest: "/home/{{ main_network_user }}/.{{ shell_config_filename }}"
    owner: "{{ main_network_user }}"
    group: "{{ main_network_user }}"
    state: link
  when: user_generated.changed

- name: "enable linger for user {{ main_network_user }}"
  become: true
  ansible.builtin.command: "loginctl enable-linger {{ main_network_user }}"
    
- name: "copy ssh key to target host for user {{ main_network_user }}"
  become: yes
  ansible.posix.authorized_key:
    user: "{{ main_network_user }}"
    state: present
    key: "{{ lookup('file', ssh_pubkey) }}"
  when: user_generated.changed

- name: "ensure /home/{{ main_network_user }}/ and everything below belongs to "
  become: true
  ansible.builtin.file:
    path: "/home/{{ main_network_user }}/"
    owner: "{{ main_network_user }}"
    group: "{{ main_network_user }}"
    recurse: true
