---
- name: update and upgrade packages
  become: true
  apt:
    update_cache: true
    upgrade: "yes"

- name: install essential packages
  become: true
  package:
    name: "{{ packages }}"
    state: latest
  when:
    - packages is defined
    - packages | length > 0
