- name: 'create user {{ username }}'
  become: true
  ansible.builtin.user:
    name: '{{ username }}'
    uid: '{{ userid }}'
    home:  '/home/{{ username }}'
    create_home: true
    shell: '{{ shell_path }}'
  register: user_generated
  tags:
    - install

- name: 'add user {{ username }} to groups as defined'
  become: true
  ansible.builtin.user:
    name: '{{ username }}'
    groups: '{{ systemgroups }}'
  when:
    systemgroups is defined
  tags:
    - install

- name: 'enable linger for user {{ username }}'
  become: true
  ansible.builtin.command: 'loginctl enable-linger {{ username }}'
  tags:
    - install

- name: 'copy ssh key to target host for user {{ username }}'
  become: true
  become_user: '{{ username }}'
  environment: '{{ become_env }}'
  ansible.posix.authorized_key:
    user: '{{ username }}'
    state: present
    key: '{{ lookup("file", ssh_pubkey) }}'
  when: user_generated.changed
  tags:
    - install

- name: 'configure {{ shell }} dotfiles for user {{ username }}: clone repo'
  become: true
  become_user: '{{ username }}'
  environment: '{{ become_env }}'
  ansible.builtin.git:
    repo: '{{ shell_dot_repo }}'
    dest: '/home/{{ username }}/.config/{{ shell }}/'
    recursive: true
    update: true
  when: user_generated.changed
  tags:
    - install

- name: 'configure {{ shell }} dotfiles for user {{ username }}: create softlink'
  become: true
  become_user: '{{ username }}'
  environment: '{{ become_env }}'
  ansible.builtin.file:
    src: '/home/{{ username }}/.config/{{ shell }}/{{ shell_config_filename }}'
    dest: '/home/{{ username }}/.{{ shell_config_filename }}'
    state: link
  when: user_generated.changed
  tags:
    - install

- name: 'generate ssh host config for service_user {{ username }}'
  become: true
  become_user: '{{ username }}'
  environment: '{{ become_env }}'
  ansible.builtin.template:
    src: templates/ssh_host_config_service.j2
    dest: '/home/{{ username }}/ssh_host_config_{{ username }}_on_{{ inventory_hostname }}'
    mode: '0644'
  when: 
    - user_generated.changed
  tags:
    - install

- name: 'fetch generated ssh host config to localhost'
  become: true
  become_user: '{{ username }}'
  environment: '{{ become_env }}'
  ansible.builtin.fetch:
    src: '/home/{{ username }}/ssh_host_config_{{ username }}_on_{{ inventory_hostname }}'
    dest: '~/.ssh/config.d/'
    flat: true
  when:
    - user_generated.changed
  tags:
    - install
