[Unit]
Description={{ container.description }}
Requires=network-online.path
After=network-online.path

[Container]
Pod={{ servicename }}.pod
ContainerName={{ container.name }}
Image={{ container.image }}
{% if environment_TZ is defined %}
Environment=TZ={{ environment_TZ }}
{% endif %}
{% for env in container.environment_variables | default([])%}
Environment={{ env.key }}={{ env.value }}
{% endfor %}
{% for vol in container.volumes | default([])%}
{% set is_bind_mount = vol.host.startswith('/') or vol.host.startswith('%h') %}
{% set target = vol.host if is_bind_mount else service_pod.name ~ '_' ~ vol.host ~ '.volume' %}
Volume={{ target }}:{{ vol.container }}{{ ':' ~ vol.flags if vol.flags is defined }}
{% endfor %}
{% for cap in container.capabilities | default([])%}
Capabilities={{ cap }}
{% endfor %}
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
