[Unit]
Description=pod encapsulating {{ service_pod.name }}

[Pod]
PodName={{ service_pod.name }}-stack
{% for port in service_pod.publish_ports | default([])%}
PublishPort={{ port.ip ~ ':' if port.ip is defined }}{{ port.host }}:{{ port.container }}{% '/' ~ port.protocol if port.protocol is defined %}
{% endfor %}

{#
how i did uidmaps once in testing; needs rework
{% set pod_uidmaps = containers | json_query('[?uidmaps].uidmaps[]') %}
{% for map in pod_uidmaps | default([])%}
UIDMap={{ map }}
{% endfor%}
#}

[Install]
WantedBy=default.target
